@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-one: #ffffff;
  --bg-two: #000000;
  /* ac colors */
  --ac-one: #4f46e5;
  --ac-two: #7c3aed;
  --ac-three: #9333ea;
  /*text*/
  --text-two: #000000;
  --text: #ffffff;
  --text-primary: #4f46e5;
  --text-secondary: #9333ea;
}
